{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row no-gutter-row">
            <div class="col-12 p-0">
                <div class="position-relative bg-light shadow-lg rounded">
                    <img src="{{ MEDIA_URL }}media/nihal-demirci-erenay-0ME-BIUBmUs-unsplash.jpg" class="img-fluid full-viewport"
                        alt="Ballerina en pointe wearing Perfect Pointes Pointe Shoes">
                    <div class="overlay"></div>
                    <div class="col-4 p-4 content-container text-dark" style="background-color: #f1e0b7;">
                        <h1 class="gold-text">Perfect Pointes</h1>
                        <p><i class="fa-brands fa-shoelace gold-text"></i></p>
                        <p><strong>Find your perfect fit</strong></p>
                        <a class="btn btn-custom" href="{% url 'products' %}" aria-label="Shop Now">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}