{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid p-0 position-relative">
    <img src="{% static 'images/nihal-demirci-erenay-0ME-BIUBmUs-unsplash.jpg' %}" class="img-fluid full-viewport"
        alt="Ballerina en pointe wearing Perfect Pointes Pointe Shoes">
    <div class="overlay"></div>
    <div class="container position-absolute top-50 start-50 translate-middle" style="z-index: 1;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card mt-5">
                    <div class="card-header">
                        <h5 class="gold-text">My Profile</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">Delivery Information</p>
                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn-custom rounded text-uppercase float-right mt-3" style="padding: 10px 20px;">Update</button>
                        </form>
                    </div>
                    <div class="col-12">
                        <div class="scrollable-content"style="max-height: 200px; overflow-y: auto;">
                            <p class="text-muted mt-5">Order History</p>
                            <div class="order-history table-responsive">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th>Date</th>
                                            <th>Items</th>
                                            <th>Order Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'order_history' order.order_number %}"
                                                    title="{{ order.order_number }}">
                                                    {{ order.order_number|truncatechars:6 }}
                                                </a>
                                            </td>
                                            <td>{{ order.date }}</td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        Title: {{ item.product_title | title }} x {{ item.quantity }}
                                                    </li>
                                                    <li class="small">Size: {{ item.product_size }}</li>
                                                    <li class="small">Width: {{ item.product_width | title }}</li>
                                                    <li class="small">Color: {{ item.product_color | title }}</li>                                                    
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>${{ order.grand_total }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/countryfield.js' %}"></script>
{% endblock %}