{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<main>
    <main class="container-fluid light-pink-bg d-flex flex-column">
        <!-- Order Summary -->
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="gold-text gold-text-padding logo-font mb-4">Checkout</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <p class="text-muted">Order Summary ({{ product_count }})</p>
                <div class="row">
                    <!-- Item Header -->
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                {% for item in bag_items %}
                <!-- Individual Item -->
                <div class="row align-items-center mb-3">
                    <div class="col-3">
                        <!-- Item Image -->
                        {% if item.pointe_shoe_product.image %}
                        <img class="img-fluid rounded" src="{{ item.pointe_shoe_product.image.url }}"
                            alt="{{ item.pointe_shoe_product.title }}">
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <!-- Item Details -->
                        <p class="mb-1"><strong>Name:</strong> {{ item.pointe_shoe_product.title }}</p>
                        <p class="mb-1"><strong>Size:</strong> {{ item.size.size }}</p>
                        <p class="mb-1"><strong>Width:</strong> {{ item.width.width }}</p>
                    </div>
                    <div class="col-3 text-end">
                        <!-- Item Price -->
                        <p class="my-0">Price per item: €{{ item.pointe_shoe_product.price }}</p>
                        <p class="my-0">Total Price: €{{ item.pointe_shoe_product.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
                {% endfor %}
                <!-- Order Summary Totals -->
                <div class="text-end mt-4">
                    <p class="lead mb-0">Bag Total: €{{ total|floatformat:2 }}</p>
                    <p class="lead mb-0">Delivery: €{{ delivery|floatformat:2 }}</p>
                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                    </p>
                    {% endif %}
                </div>
                <!-- Order Summary Details -->
                <hr class="my-0">
                <div class="row text-black text-right">
                    <div class="col-7 offset-2">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">€{{ total | floatformat:2 }}</p>
                        <p class="my-0">€{{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <!-- Checkout Form -->
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please fill out the form below to complete your order</p>
                <!-- Form -->
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <!-- Details -->
                    <fieldset class="rounded px-3 mb-5 custom-fieldset">
                        <legend class="fieldset-label small text-black px-2 w-auto"></legend>
                        <div class="form-field-with-border">
                            <strong>Full Name:</strong><br>{{ order_form.full_name | as_crispy_field }}
                            <strong>Email:</strong><br>{{ order_form.email | as_crispy_field }}
                        </div>
                    </fieldset>
                    <!-- Delivery -->
                    <fieldset class="rounded px-3 mb-5 custom-fieldset">
                        <legend class="fieldset-label small text-black px-2 w-auto"></legend>
                        <div class="form-field-with-border">
                            <strong>Phone Number:</strong><br>{{ order_form.phone_number | as_crispy_field }}
                            <strong>Address 1:</strong><br>{{ order_form.street_address1 | as_crispy_field }}
                            <strong>Address 2:</strong><br>{{ order_form.street_address2 | as_crispy_field }}                            
                            <strong>Town/City:</strong><br>{{ order_form.town_or_city | as_crispy_field }}
                            <strong>County:</strong><br>{{ order_form.county | as_crispy_field }}
                            <strong>Postcode:</strong><br>{{ order_form.postcode | as_crispy_field }}
                            <strong>Country:</strong><br>{{ order_form.country | as_crispy_field }}
                        </div>
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my
                                profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                            {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <!-- Payment -->
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <!-- Buttons -->
                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'view_bag' %}" class="btn btn-custom">
                            <span class="font-weight-bold">Adjust Bag</span>
                        </a>
                        <button id="submit-button" class="btn btn-custom">
                            <span class="font-weight-bold">Complete Order</span>
                            <span>
                                <i class="fa-solid fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span>
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light">
            <span>
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script type="text/javascript" src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}