{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid light-pink-bg min-vh-100 d-flex flex-column">
        <!-- Order Information -->
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="gold-text gold-text-padding logo-font mb-4">Thank you</h2>
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>
                        {{ order.email }}</strong>.</p>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="d-flex flex-column align-items-center">
                    <ul>
                        <li>
                            <h3 class="gold-text">Order Number:</h3> {{ order.order_number }}
                        </li>
                        <li>
                            <h3 class="gold-text">Order Placed:</h3> {{ order.date }}
                        </li>
                        <li>
                            <h3 class="gold-text">Order Amount:</h3> £ {{ order.grand_total }}
                        </li>
                        <li>
                            <h3 class="gold-text">Delivery Address:</h3>
                            <p>
                                {{ order.street_address1 }},
                                {% if order.street_address2 %} {{ order.street_address2 }} {% endif %},
                                {{ order.town_or_city }},
                                {% if order.county %} {{ order.county }} {% endif %},
                                {% if order.postcode %} {{ order.postcode }} {% endif %}
                                {{ order.country }}
                            </p>
                        </li>
                        <li>
                            <h3 class="gold-text">Delivery Phone Number:</h3> {{ order.phone_number }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <ul>
                    {% for item in order.lineitems.all %}
                    <li>
                        {{ item.quantity }} x {{ item.pointe_shoe_product.title }} - {{ item.size.size }} {{ item.width.width }}
                    {% endfor %}
            <br>

            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-6 text-center">
                    <a href="{% url 'products' %}">
                        <button class="btn btn-large btn-custom"> Continue Shopping
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}