* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #565D47;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Dancing Script', sans-serif;
}

/* Alert */

.alert-container {
    padding-left: 0;
    padding-right: 0;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    background-color: #EAAC9D;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #EAAC9D;
    border-color: #EAAC9D;
}

/* Logo */

.logo {
    max-width: 100px;
    font-family: 'Dancing Script',
        sans-serif;
    color: #FFD700;
    font-size: 3vw;
}

.rounded-logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
}

.navbar-nav a.nav-link {
    font-size: 18px;
}

.navbar-brand {
    margin-right: 15px;
}

.navbar-nav .dropdown-menu .dropdown-item::marker {
    display: none;
}

.navbar .navbar-toggler {
    border: 0;
}

/* Homepage */

.gold-text {
    background: linear-gradient(45deg, #ffd700, #d4af37);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 3px rgba(212, 175, 55, 0.5);
    font-size: 3vw;
}

.full-viewport {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 172, 157, 0.7);
    z-index: 1;
}

.image-container {
    position: relative;
    z-index: 0;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
}

.content-container h1,
.content-container p {
    margin-bottom: 20px;
}

.no-gutter-row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

/* Additional styles for buttons */

.btn-custom {
    background-color: #B49C73;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.btn-custom:hover {
    background-color: #8c734d;
}

/* Product Page */

.hoverable-image {
    transition: transform 0.2s;
}

.hoverable-image:hover {
    transform: scale(1.1);
}

.gold-text-padding {
    padding-top: 20px;
}

.rounded-custom {
    border-radius: 15px;
    border: 2px solid #ccc;
}

.rounded-custom:hover {
    border-color: #8c734d;
}

.rounded-image {
    border-radius: 15px;
}

.overlay-text {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

.ribbon {
    position: relative;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}
    
.ribbon::before,
.ribbon::after {
    content: '';
    position: absolute;
    border-style: solid;
    height: 0;
    border-width: 20px;
    top: 100%;
}
    
.ribbon::before {
    border-color: transparent transparent #EAAC9D transparent;
    left: 0;
}
    
.ribbon::after {
    border-color: transparent transparent #EAAC9D transparent;
    right: 0;

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
