{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid light-pink-bg">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 form-container text-center rounded py-2 gold-frame">
            <h1 class="gold-text">Error 404: Not Found</h1>
            <h2>The page is not available</h2>
            <div>
                <a href="{% url 'products' %}" class="btn btn-md btn-custom my-2">
                    Keep shopping instead
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}