{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-0 position-relative light-pink-bg">
    <div class="overlay position-absolute top-0 start-0 end-0 bottom-0"></div>
    <div class="row justify-content-center align-items-center h-100 position-relative" style="z-index: 1;">
        <div class="col-md-6 col-lg-4">
            <div class="light-pink-bg gold-frame p-4" style="position: relative; z-index: 2;">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    <a class="btn btn-outline-secondary back-to-login mb-3 d-block" href="{% url 'login' %}">Back to
                        login</a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
