{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-0 position-relative">
    <img src="{% static 'images/nihal-demirci-erenay-0ME-BIUBmUs-unsplash.jpg' %}" class="img-fluid full-viewport"
        alt="Ballerina en pointe wearing Perfect Pointes Pointe Shoes">
    <div class="overlay"></div>
    <div class="row no-gutters">
        <div class="col-12 d-flex justify-content-center align-items-center position-absolute top-0 start-0 end-0 bottom-0"  
        style="z-index: 1;">
            <div class="light-pink-bg gold-frame">
                <div class="allauth-form-inner-content p-4">
                    {% block inner_content %}
                    <a class="btn btn-outline-secondary back-to-login" href="{% url 'login' %}">Back to login</a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}