{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
        <!-- Required meta tags -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Online store for the perfect fit pointe shoes for beginner 
                    and advanced ballet dancers">
        <meta name="keywords" content="Bloch pointe shoe fitting, Freed pointe shoes, 
                    Bloch pointe shoes, Freed pointe shoes, Capezio pointe shoes, Grishko
                    pointe shoes, Freed of London pointe shoes, best ballet pointe shoes for wide feet, 
                    best pointe shoes for beginners,
                    Capezio pointe shoe, buy Grishko pointe shoes, pointe shoes online, 
                    best pointe shoes for foot type">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@300&display=swap"
            rel="stylesheet">
        <!-- Favicon CSS -->
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <!-- Base CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Mailchimp -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
        <!-- font awesome script -->
        <script src="https://kit.fontawesome.com/f75c96defe.js" crossorigin="anonymous" defer></script>
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Perfect Pointes {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <!--<header>-->
    <header>
        <div class="navalert-container">
            <div class="container-fluid alert-container">
                <div class="row d-none d-sm-block">
                    <div class="col-12">
                        <div class="site-wide-alert alert alert-warning text-center">
                            <strong><i class="fa-solid fa-truck"></i> 
                                Free delivery and returns on all orders over €{{ free_delivery_threshold }}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <nav> -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F0DAA4;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logo_round.png' %}" class="img-fluid logo rounded-logo"
                        alt="Logo of Perfect Pointes">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                                <i class="fa-solid fa-house me-1"></i> Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user me-1"></i> Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="accountDropdown">
                                {% if user.is_authenticated %}
                                    <span class="dropdown-item">Welcome, {{ user.username | title }}</span>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                    <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a>
                                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <!-- Shop Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" 
                                href="#" id="shopDropdown" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-heart me-1"></i> Shop
                            </a>
                            <div class="dropdown-menu" aria-labelledby="shopDropdown">
                                {% for brand in available_brands %}
                                <a class="dropdown-item" 
                                    href="{% url 'products' %}?sort=brand&direction=asc&brand={{ brand.name }}">
                                    {{ brand.name | title }}
                                </a>
                                {% endfor %}
                                    <hr class="dropdown-divider">
                                {% for category in available_categories %}
                                <a class="dropdown-item" 
                                    href="{% url 'products' %}?sort=category&direction=asc&category={{ category.name }}">
                                    {{ category.get_friendly_name | title }}
                                </a>
                                {% endfor %}
                                    <hr class="dropdown-divider">
                                <a class="dropdown-item" href="{% url 'products' %}">All Pointe Shoes</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <form class="d-flex rounded" method="GET" action="{% url 'products' %}">
                                {% if search_term %}
                                <input class="form-control me-2 rounded" 
                                    style="background-color: #fdf2d8;" type="search" name="q"
                                    placeholder="Find your pointes" aria-label="Search" 
                                    value="{{ search_term }}">
                                <button class="btn btn-custom" type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                {% else %}
                                <input class="form-control rounded" type="form-control" 
                                    style="background-color: #fdf2d8;" name="q"
                                    placeholder="Find your pointes">
                                <button class="btn btn-custom" type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                {% endif %}
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="{% if grand_total %} {% else %} {% endif %} nav-link" 
                                href="{% url 'view_bag' %}">
                                <i class="fa-solid fa-cart-shopping me-1"></i>
                                <span class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a class="nav-link dropdown-toggle text-dark" 
                                href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" 
                                aria-expanded="false"> Product Management </a>
                            <ul class="dropdown-menu" 
                            aria-labelledby="navbarDropdown">
                                <li>
                                    <a href="{% url 'add_product' %}" 
                                        class="dropdown-item">Add Product</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" 
                                        href="{% url 'account_logout' %}">Logout</a>
                                </li>
                            </ul>
                            {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
 
    
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="footer-heading my-2">Contact</h2>
                    <p class="footer-subtitle"><i class="fa-solid fa-envelope"></i> 
                        <a href="mailto:perfect-pointes@gmail.com" 
                            class="social-link">perfect-pointes@gmail.com</a></p>
                    <p class="footer-subtitle"><i class="fa-brands fa-whatsapp"></i> 
                        <a href="tel:+44586878878" class="social-link">+44 586 878 878</a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-md-6 my-2">
                    <h3>Social</h3>
                    <p>Keep up to date with all our latest offers</p>
                    <a href="https://www.facebook.com/profile.php?id=61556815891966" 
                        target="_blank" class="social-link">
                        <i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
                    <!-- About Us -->
                    <div class="row mt-3">
                        <div class="col-12">
                            <h2>About Us</h2>
                            <p>Perfect Pointes is your premier destination for exquisite pointe shoes.  
                                Founded by passionate dancers, Perfect Pointes is dedicated to providing the highest quality 
                                products to elevate your dance experience. We hope you find your perfect shoe.
                            </p>
                            <p>Don't worry we provide a free return service, 
                                full refund on returns within 90 days of purchase.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 my-2">
                    <h2>Subscribe!</h2>
                    <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                    <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=a9f7abe1c6d99284ca1eea9aa&amp;id=c30dbdf2ce&amp;f_id=006ef6e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div class="form-group">
                            <label for="mce-EMAIL">Email Address:</label>
                            <input type="email" 
                                name="EMAIL" class="form-control required email" 
                                id="mce-EMAIL" required="" value="">
                        </div>
                        <div class="form-group">
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" 
                                class="btn btn-primary btn-subscribe text-dark text-uppercase">Subscribe</button>
                        </div>
                    </form>
                    <div id="success-message" style="display: none;" class="alert alert-success" role="alert">
                        Thank you for subscribing!
                    </div>
                </div>
                <!-- Useful Links -->
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <h2>Useful Links</h2>
                    <ul style="list-style: none; padding-left: 0;">
                        <li><a href="https://grishkoshop.com/Page/en-US/26/pointessizechart" 
                            target="_blank" class="social-link">Pointe Shoe Size Chart</a>
                        </li>
                        <li><a href="https://youtu.be/NGfaWRMsS1o" 
                            target="_blank" class="social-link">YouTube for Grishko 2007 shoe</a>
                        </li>
                        <li>
                            <a href="https://youtu.be/wr1UPWesLFU" 
                            target="_blank" class="social-link">
                            Fitting professional Bloch pointe shoes New York Ballet Company
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
                <!-- GDPR Compliance Link -->
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-white">For GDPR compliance, please see our 
                            <a href="https://www.termsfeed.com/live/af7beee8-c4b2-4394-bf87-ace5e9e52994" 
                            target="_blank" 
                            class="social-link underline">privacy policy</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.footer -->

        {% block postloadjs %}
        <script>
            $(document).ready(function () {
                $('.toast').toast('show');
            });

            document.addEventListener("DOMContentLoaded", function() {
                function displaySuccessMessage() {
                    let successMessage = document.getElementById("success-message");
                    successMessage.style.display = "block";
                    setTimeout(function() {
                        successMessage.style.display = "none";
                    }, 3000);
                }

                // Event listener for newsletter submission
                document.getElementById("mc-embedded-subscribe-form").addEventListener("submit", function(event) {
                    event.preventDefault();
                    displaySuccessMessage();
                });
            });
        </script>

        <!-- mailchimp scripts -->  
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script type="text/javascript">
            (function($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0]='EMAIL';ftypes[0]='email';
                fnames[1]='FNAME';ftypes[1]='text';
                fnames[2]='LNAME';ftypes[2]='text';
                fnames[3]='ADDRESS';ftypes[3]='address';
                fnames[4]='PHONE';ftypes[4]='phone';
                fnames[5]='BIRTHDAY';ftypes[5]='birthday';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
        </script>
        {% endblock %}

</body>

</html>