{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid px-0" style="background-color: #e4d6be;">
        <!-- Order Summary -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card light-pink-bg gold-frame">
                    <div class="card-body">
                        <h2 class="card-title gold-text logo-font mb-4 text-center">Product Management</h2>
                        <h5 class="card-subtitle mb-4 text-muted text-center">Edit a Product</h5>
                        <form method="POST" action="{% url 'edit_product' product.id %}" class="mb-4"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            {% if field.name != 'image' %}
                            <div class="form-group">
                                {{ field | as_crispy_field }}
                            </div>
                            {% else %}
                            <div class="form-group">
                                <label class="btn btn-custom ml-2" style="cursor: pointer;">
                                    Select Image<input type="file" name="image" style="display: none;">
                                </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="text-center">
                                <button class="btn btn-custom mr-2" type="submit">Update Product</button>
                                <a class="btn btn-outline-secondary" href="{% url 'products' %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("input[type=file]").addEventListener("change", function () {
            var fileName = this.files[0].name;
            var label = document.querySelector('label.btn-custom');
            label.textContent = "Selected: " + fileName;
        });
    });
</script>
{% endblock %}