{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<main>
    <div class="container text-center">
        <div class="row">
            <div class="col-12 center">
                <h1 class="gold-text gold-text-padding">Pointe Shoes</h1>
                <div class="col m12 s12 center">A selection of all our
                    pointe shoes, browse our categories and brands
                    for your perfect shoe!
                </div>
                <hr class="gold-text">
            </div>
        </div>

        <!-- Product List -->
        <div class="container-fluid mt-5">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card rounded-custom">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top rounded-image hover-zoom ripple img-fluid" alt="{{ product.title }}">
                        <a href="">
                            <img class="card-img-top rounded-image hover-zoom ripple img-fluid" src="{{ MEDIA_URL }}media/no-image.jpg" alt="{{ product.name }}">
                        </a>
                        <div class="overlay-text">{{ product.pointe_shoe.status | title }}</div>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text bg-dark text-white d-flex align-items-center justify-content-center shadow-1-strong"
                                style="min-width: 100px; height: 35px;">
                                {{ product.pointe_shoe.status | title }}
                            </p>
                            <h5 class="card-title gold-text mb-3">{{ product.title }}</h5>
                            <p class="card-text lead mb-0">{{ product.pointe_shoe.category.name }}</p>
                            <p class="card-text text-uppercase">{{ product.brand.name }}</p>
                            <h6 class="mb-3">{{ product.pointe_shoe.price }} EUR</h6>
                            <a href="#" class="btn btn-custom">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
                            
    </div>
                            
</div>
</main>

{% endblock %}