{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

    <main>
        <div class="container-fluid light-pink-bg">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 center">
                        <h1 class="gold-text gold-text-padding">Pointe Shoes</h1>
                        <div class="col m12 s12 center">A selection of all our
                            pointe shoes, sort and browse our categories and brands
                            for your perfect shoe!
                        </div>
                    </div>
                </div>

                <!-- Brand Dropdown -->
                <ul class="nav justify-content-center dropbtn my-3 rounded-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white dropup" href="#" id="brandDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Brands
                        </a>
                        <div class="dropdown-menu" aria-labelledby="brandDropdown">
                            {% for brand in all_brands %}
                            <a class="dropdown-item" href="{% url 'products' %}?sort=brand&direction=asc{{ brand.name }}">{{ brand.name | title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                
                    <!-- Color Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white dropup" href="#" id="colorDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Colors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="colorDropdown">
                            {% for color in all_colors %}
                            <a class="dropdown-item" href="{% url 'products' %}?sort=color&direction=asc{{ color }}">{{ color.get_friendly_name| title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                
                    <!-- Category Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white dropup" href="#" id="categoryDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                            {% for category in all_categories %}
                            <a class="dropdown-item" 
                            href="{% url 'products' %}?sort=category&direction=asc&category={{ category.name }}">{{category.get_friendly_name | title }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <!-- Price Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white dropup" href="#" id="priceDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Price
                        </a>
                        <div class="dropdown-menu" aria-labelledby="priceDropdown">
                            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Low to High</a>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">High to Low</a>
                        </div>
                    </li>
                </ul>

                <!-- Product List -->
                <div class="container-fluid mt-5">
                    <div class="row">
                        {% for product in products %}
                        {% if product.availability %}
                        <div class="col-md-4 mb-4 h-100">
                            <div class="card rounded-custom">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" class="card-img-top rounded-image hover-zoom ripple img-fluid"
                                        alt="{{ product.title }}">
                                        <div class="overlay-text">{{ product.pointe_shoe.arch | title }} <span>Arch</span></div>
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ MEDIA_URL }}media/no-image.jpg" alt="{{ product.name }}"
                                        class="card-img-top rounded-image hover-zoom ripple img-fluid" alt="{{ product.title }}">
                                        <div class="overlay-text">{{ product.pointe_shoe.arch | title }} <span>Arch</span></div>
                                </a>
                                {% endif %}
                                <div class="card-body non-semantic-protector">
                                    <strong>
                                        <p class="card-text ribbon d-flex align-items-center justify-content-center shadow-1-strong"
                                            style="min-width: 100px; height: 35px;">
                                            {{ product.pointe_shoe.status | title }}
                                        </p>
                                    </strong>
                                    <h5 class="card-title gold-text mb-3 my-5">{{ product.title }}</h5>
                                    <p class="card-text lead mb-0">{{ product.pointe_shoe.category.friendly_name }}</p>
                                    <p class="card-text text-uppercase">{{ product.brand.name }}</p>
                                    <h6 class="mb-3">{{ product.pointe_shoe.price }} EUR</h6>
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-custom">More Details</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                                    
            </div>
        </div>
        </div>
    </main>


{% endblock %}