{% load static %}

<div class="toast custom-toast rounded-0 border-top-0" data-autohide="true">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white">
        <strong class="mr-auto">Success!</strong>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                <div class="message-content">
                    {{ message }}
                </div>
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <p class="logo-font bg-white py-1">Your Bag ({{ product_count }})</p>
        <div class="bag-notification-wrapper">
            {% for item in bag_items %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.pointe_shoe_product.image %}
                    <img class="w-100 rounded-circle border border-dark" 
                    src="{{ item.pointe_shoe_product.image.url }}" 
                    alt="{{ item.pointe_shoe_product.title | title }}">
                    {% else %}
                    <img class="w-100 rounded-circle border border-dark" 
                    src="{% static 'images/no-image.jpg' %}" 
                    alt="{{ item.pointe_shoe_product.title | title }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.pointe_shoe_product.title | title }}</strong></p>
                    <p class="my-0 small">Size:{{ item.size.size }} Width:{{ item.width.width | upper }}</p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <strong>
                    <p class="mt-3 mb-1">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">€ {{ total|floatformat:2 }}</span>
                    </p>
                </strong>
                {% if free_delivery_delta > 0 %}
                <p class="mb-0 p-2 bg-warning shadow-sm text-center my-2 btn-block rounded-0">
                    Spend <strong>${{ free_delivery_delta }}</strong> more to get free delivery!
                </p>
                {% endif %}

                <a href="{% url 'view_bag' %}" class="btn btn-custom btn-block rounded-0 my-2">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <span>
                        <i class="fa-solid fa-shield"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
